<div ng-repeat="text in specialityControllerVm.textList">
	  <div ng-class= "{'odd' : text.class == 'odd'}" class="text-container">
        <h2 class="mt40 pt40 text-center">{{text.title}}</h2>
        <div class="row center-margin">
		<div ng-if = "text.class === 'normal'">
          <div class="display-inline text-center content-text">
            <p>{{text.text}}
            </p>
          </div>
          <div class="display-inline text-center">
            <img  ng-src="images/{{text.img}}" alt="Coffe-love" />
          </div>
        </div>
		<div ng-if = "text.class === 'odd'">
			<div class="display-inline text-center">
            <img  ng-src="images/{{text.img}}" alt="happy-face" />
          </div>
			<div class="display-inline text-center content-text">
            <p>{{text.text}}
            </p>
          </div>
		</div>
		</div>
      </div>
    </div>